/* color palette*/
/*
#e5f2ff	(229,242,255) - light blue
#618394	(97,131,148) - gray blue
#2e587a	(46,88,122) - dark blue
#26a0d9	(38,160,217) - bright blue
#212e40	(33,46,64) - navy blue
 */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
    font-family: 'Jost', sans;
}

html{
    scroll-behavior: smooth;
}

a {
	color: black;
	text-decoration: none;
	text-decoration-color: white;
}

a:hover {
	text-decoration: underline;
}

/* navigation menu/header */
.page-header {
	padding: 10px;
	margin: 10px;
}

.navbar,
.nav-list {
	display: flex;
}

.navbar {
	justify-content: space-around;
	align-items: center;
	height: 17vh;
}

.navigation-logo {
	position: relative;
	top: 10px;
	left: 10px;
}

.nav-list {
	list-style-type: none;
	gap: 2rem;
}

/* sections */
section {
	padding-top: 4vh;
	height: 96vh;
	margin: 0 10rem;
	box-sizing: border-box;
	min-height: fit-content;
}

/* landing page section */
#profile {
	display: flex;
	justify-content: center;
	gap: 5rem;
	height: 80vh;
}

.profile-container {
	display: flex;
	width: 400px;
	height: 400px;
	margin: auto 0;
}

.profile-img {
	border-radius: 50%;
}

/* about me */

/* project section */
.title, .project-text-p1 {
	text-align: center;
}

#projects {
	position: relative;
}

.project-section-container {
	border: #212e40 0.2rem solid;
	display: flex;
	justify-content: center;
    flex-direction: column;
}

.project-containers {
    border: #212e40 0.2rem solid;
    display: flex;
	flex-wrap: wrap;
    flex-direction: row;
	gap: 2.5rem;
	justify-content: space-around;
}

.project-details{
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}

.project-screenshot {
	width: 80%;
	height: 80%;
	margin: auto 0;
}

.project-title {
	margin: 1rem;
}

.project-btn {
	background-color: #618394;
	border-radius: 10px;
}
.project-btn:hover {
	background-color: #e5f2ff;
	opacity: 0.8;
}

.project-btn:active {
	background-color: #2e587a;
	opacity: 1;
}

/* contact me section */
